//reset slick slider css
.slick-prev {
    left : -10px !important;    
    z-index : 50;    
    height : 30px !important;   
    width : 30px !important;   
    background: #fff !important;   
    border : 2px solid #d7d7d7 !important;
    border-radius: 50%;

    &:hover {   
    background: #7fdcdc !important;   
    }
}
    
.slick-prev:before,    
.slick-next:before {    
    font-family: FontAwesome !important;    
    color    
    : rgb(255, 102, 0) !important;    
    // content: "\f060" !important;    
}

.slick-next {
    right : -10px !important;    
    z-index : 50;    
    height : 30px !important;    
    width : 30px !important;   
    background: #fff !important;    
    border : 2px solid #d7d7d7 !important;  
    border-radius: 50%; 

    &:hover {    
    background: #7fdcdc !important;    
    }    
}

.slick-disabled {
    display: none !important;
}

.section-share {

    &.section-specialty {    
        background:#f5f5f5;    
    }
    
    &.section-outstanding-doctor {    
        background:#f5f5f5;
    }

    &.section-about {
        height: 500px !important;
        border-top: 1px solid rgba(110, 107, 107, 0.674);
        border-bottom: 1px solid rgba(110, 107, 107, 0.674);
    }
    
    .section-body {  
        .section-customize {
            text-align: center;
            
            .bg-image {
                width : 278px;
                height : 150px;
                background-position: center center;
                background-repeat : no-repeat;
                background-size : cover;
                border: 0.5px solid orange;
                cursor: pointer;
                // background-color : #eee;

                &.section-specialty {               
                    // background-image: url('../../assets/specialty/than-kinh.png');                  
                    
                }
                    
                &.section-medical-facility {
                    
                    background-size : contain;      
                    // background-image: url('../../assets/medical-facility/dai-hoc-y-duoc.png');
                }
                    
                &.section-outstanding-doctor {    
                    // background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.png');                 
                    width : 120px;                   
                    height : 120px;                    
                    border-radius : 50%;                    
                }
                    
                &.section-handbook {                   
                    background-image: url('../../assets/handbook/handbook.png');              
                }
            }
        }
    }
}

.section-share {
    height: 330px;
    
    .section-container {    
        margin : 0 100px;
        display : flex;
        flex-direction: column;
        
        .section-header {
            height : 60px;
            margin-bottom: 30px;
            padding-top : 30px;
            
            .title-section {
                font-size : 22px;
                font-weight: 600;
                color: #121212;
                text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
                            0px -4px 10px rgba(255,255,255,0.3);
            }


            .btn-section {
                border-radius: 20px;
                float : right;               
                padding: 10px 15px;
                border: none;                
                outline: none;                
                display: block;                
                background: hsla(0, 2%, 51%, 0.42);
                color: black;                
                cursor: pointer;
                text-transform: uppercase;

                
                &:hover {
                    color : #fff;
                    background: #0063f7;
                }                
            }
        }
    }
}

.section-outstanding-doctor {

    .outer-bg {
        display : flex;
        justify-content: center;
        margin-bottom : 10px;
    }
    
    .section-customize {
        padding: 5px;
        cursor: pointer;
        .customize-border {
            border: 1px solid orange;
            padding: 20px;
        }
    }
}

.home-footer {
    text-align: center;    
    padding-top: 10px;
    color: #121212;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
.home-footer *{
    padding: 5px;
}
:root {
	-bg: #dcdde1;
	-color-icon: #535c68;
	-social-icon1: #e4405f;
	-social-icon2: #3b5999;
	-social-icon3: #e4405f;
	-social-icon4: #cd201f;
	-social-icon5: #0077B5;
}
* {
	margin: 0;
	padding: 0;
}
section {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg);
	z-index: -10;
}
.icon-list {
	width: 100%;
	max-width: 40rem;
	padding: 0 1.5rem;
	display: flex;
	justify-content: space-between;
}
.icon-item {
	list-style: none;
	&:nth-child(1) a:hover:before {
		background: var(--social-icon1);
	}
	&:nth-child(2) a:hover:before {
		background: var(--social-icon2);
	}
	&:nth-child(3) a:hover:before {
		background: var(--social-icon3);
	}
	&:nth-child(4) a:hover:before {
		background: var(--social-icon4);
	}
	&:nth-child(5) a:hover:before {
		background: var(--social-icon5);
	}
}
.icon-link {
	display: inline-flex;
	font-size: 3rem;
	text-decoration: none;
	color: var(--color-icon);
	width: 6rem;
	height: 6rem;
	transition: .5s linear;
	position: relative;
	z-index: 1;
	margin: auto;
	&:hover {
		color: #fff;
		&::before {
			transform: scale(1);
		}
	}
	i {
		margin: auto;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 6rem;
		height: 6rem;
		background: #000;
		border-radius: 50%;
		z-index: -1;
		transform: scale(0);
		transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
	}
}

    .section-share.home-footer {
            display: flex;
            flex-direction: column; // Sắp xếp các thành phần theo chiều dọc

            &.block {
                flex: 1; // Đặt độ rộng và chiều cao để lấp đầy khoảng trống

            &.about-support-icon {
                // Kiểu dáng cho biểu tượng hỗ trợ
                i {
                    font-size: 2rem; // Đặt kích thước của biểu tượng
                }
            }

            &.about-support-contact {
                // Kiểu dáng cho liên hệ hỗ trợ
                p {
                    a {
                        color: blue; // Màu cho liên kết
                        text-decoration: none; // Loại bỏ gạch chân
                    }
                }
            }
        }
    }   
}

.section-about {
    padding: 0 100px;
    
    .section-about-header {
        padding : 20px 10px;
        font-size : 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;        
        gap : 15px;       
        width : 100%;
        
        .content-left {
            width: 60%;
        }
        
        .content-right {
            width: 40%;

            p {
                text-align: justify;                
                font-style: italic;               
                padding : 15px;                
            }
        }
    }
}